<app-header></app-header>
<div class="breadcumb-wrapper" data-bg-src="assets/img/breadcumb/breadcumb-bg.jpg">
  <div class="container z-index-common">
    <div class="breadcumb-content">
      <h1 class="breadcumb-title">Podcast</h1>
      <div class="breadcumb-menu-wrap">
        <ul class="breadcumb-menu">
          <li><a href="index.html">Home</a></li>
          <li>Podcast</li>
        </ul>
      </div>
    </div>
  </div>
</div>
<section class="space-top space-extra-bottom">
  <div class="container">
    <div class="filter-menu-style1 filter-menu-active"><button data-filter="*" class="active">All</button>
      <button data-filter=".marketing">Marketing</button> <button data-filter=".finance">Finance</button>
      <button data-filter=".business">Business</button> <button data-filter=".lifestyle">Lifestyle</button>
      <button data-filter=".motivation">Motivation</button></div>
    <div class="row justify-content-center filter-active">
      <div class="podcast-style7 col-md-6 col-lg-12 filter-item marketing">
        <div class="podcast-inner">
          <div class="podcast-img"><img src="assets/img/podcast/podcast-7-1.jpg" alt="image"></div>
          <div class="podcast-content"><a
            href="https://www.youtube-nocookie.com/embed/ckOWcNLkbZc?si=IL6RZazFYLMcQK5B"
            class="podcast-icon play-btn popup-video"><i class="fal fa-play"></i></a>
            <h3 class="podcast-title"><a class="text-inherit" href="podcast-details.html">The universe
              of innovation that associates us</a></h3><span class="podcast-author">Edward
                                David</span> <span class="podcast-episode">Episode 9</span> <a
              href="podcast-details.html" class="vs-btn">View Episode</a>
          </div>
        </div>
      </div>
      <div class="podcast-style7 col-md-6 col-lg-12 filter-item finance">
        <div class="podcast-inner">
          <div class="podcast-img"><img src="assets/img/podcast/podcast-7-2.jpg" alt="image"></div>
          <div class="podcast-content"><a
            href="https://www.youtube-nocookie.com/embed/ckOWcNLkbZc?si=IL6RZazFYLMcQK5B"
            class="podcast-icon play-btn popup-video"><i class="fal fa-play"></i></a>
            <h3 class="podcast-title"><a class="text-inherit" href="podcast-details.html">The universe
              of innovation that associates us</a></h3><span class="podcast-author">Edward
                                David</span> <span class="podcast-episode">Episode 9</span> <a
              href="podcast-details.html" class="vs-btn">View Episode</a>
          </div>
        </div>
      </div>
      <div class="podcast-style7 col-md-6 col-lg-12 filter-item motivation">
        <div class="podcast-inner">
          <div class="podcast-img"><img src="assets/img/podcast/podcast-7-3.jpg" alt="image"></div>
          <div class="podcast-content"><a
            href="https://www.youtube-nocookie.com/embed/ckOWcNLkbZc?si=IL6RZazFYLMcQK5B"
            class="podcast-icon play-btn popup-video"><i class="fal fa-play"></i></a>
            <h3 class="podcast-title"><a class="text-inherit" href="podcast-details.html">The universe
              of innovation that associates us</a></h3><span class="podcast-author">Edward
                                David</span> <span class="podcast-episode">Episode 9</span> <a
              href="podcast-details.html" class="vs-btn">View Episode</a>
          </div>
        </div>
      </div>
      <div class="podcast-style7 col-md-6 col-lg-12 filter-item business">
        <div class="podcast-inner">
          <div class="podcast-img"><img src="assets/img/podcast/podcast-7-4.jpg" alt="image"></div>
          <div class="podcast-content"><a
            href="https://www.youtube-nocookie.com/embed/ckOWcNLkbZc?si=IL6RZazFYLMcQK5B"
            class="podcast-icon play-btn popup-video"><i class="fal fa-play"></i></a>
            <h3 class="podcast-title"><a class="text-inherit" href="podcast-details.html">The universe
              of innovation that associates us</a></h3><span class="podcast-author">Edward
                                David</span> <span class="podcast-episode">Episode 9</span> <a
              href="podcast-details.html" class="vs-btn">View Episode</a>
          </div>
        </div>
      </div>
      <div class="podcast-style7 col-md-6 col-lg-12 filter-item motivation">
        <div class="podcast-inner">
          <div class="podcast-img"><img src="assets/img/podcast/podcast-7-1.jpg" alt="image"></div>
          <div class="podcast-content"><a
            href="https://www.youtube-nocookie.com/embed/ckOWcNLkbZc?si=IL6RZazFYLMcQK5B"
            class="podcast-icon play-btn popup-video"><i class="fal fa-play"></i></a>
            <h3 class="podcast-title"><a class="text-inherit" href="podcast-details.html">The universe
              of innovation that associates us</a></h3><span class="podcast-author">Edward
                                David</span> <span class="podcast-episode">Episode 9</span> <a
              href="podcast-details.html" class="vs-btn">View Episode</a>
          </div>
        </div>
      </div>
      <div class="podcast-style7 col-md-6 col-lg-12 filter-item lifestyle">
        <div class="podcast-inner">
          <div class="podcast-img"><img src="assets/img/podcast/podcast-7-3.jpg" alt="image"></div>
          <div class="podcast-content"><a
            href="https://www.youtube-nocookie.com/embed/ckOWcNLkbZc?si=IL6RZazFYLMcQK5B"
            class="podcast-icon play-btn popup-video"><i class="fal fa-play"></i></a>
            <h3 class="podcast-title"><a class="text-inherit" href="podcast-details.html">The universe
              of innovation that associates us</a></h3><span class="podcast-author">Edward
                                David</span> <span class="podcast-episode">Episode 9</span> <a
              href="podcast-details.html" class="vs-btn">View Episode</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="bg-theme space-extra">
  <div class="container container-style2">
    <div class="row vs-carousel text-center" data-slide-show="5" data-xl-slide-show="4" data-lg-slide-show="3"
         data-md-slide-show="3" data-sm-slide-show="3" data-xs-slide-show="2">
      <div class="col-auto">
        <div><img src="assets/img/brand/brand-2-1.svg" alt="image"></div>
      </div>
      <div class="col-auto">
        <div><img src="assets/img/brand/brand-2-2.svg" alt="image"></div>
      </div>
      <div class="col-auto">
        <div><img src="assets/img/brand/brand-2-3.svg" alt="image"></div>
      </div>
      <div class="col-auto">
        <div><img src="assets/img/brand/brand-2-4.svg" alt="image"></div>
      </div>
      <div class="col-auto">
        <div><img src="assets/img/brand/brand-2-5.svg" alt="image"></div>
      </div>
      <div class="col-auto">
        <div><img src="assets/img/brand/brand-2-1.svg" alt="image"></div>
      </div>
      <div class="col-auto">
        <div><img src="assets/img/brand/brand-2-2.svg" alt="image"></div>
      </div>
      <div class="col-auto">
        <div><img src="assets/img/brand/brand-2-3.svg" alt="image"></div>
      </div>
      <div class="col-auto">
        <div><img src="assets/img/brand/brand-2-4.svg" alt="image"></div>
      </div>
      <div class="col-auto">
        <div><img src="assets/img/brand/brand-2-5.svg" alt="image"></div>
      </div>
    </div>
  </div>
</div>
