<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container">
    <a class="navbar-brand" href="#" (click)="navigateToHome(); $event.preventDefault()">
      <div class="logo-box">
        <img 
          src="assets/img/CASTINGVOIXOFF_Plan de travail 1 copie 5.png" 
          style="width: 100%" 
          [alt]="'header.logo.alt' | translate">
      </div>
    </a>

    <button 
      class="navbar-toggler" 
      type="button" 
      data-bs-toggle="collapse" 
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      [attr.aria-label]="'header.navigation.toggleMenu' | translate">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mx-auto">
        <!-- Voice Language Filter Dropdown -->
        <li class="nav-item dropdown">
          <a 
            class="nav-link dropdown-toggle" 
            href="javascript:void(0)" 
            id="languageDropdown" 
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
            [attr.aria-label]="'header.navigation.voiceLanguages' | translate">
            {{ 'header.navigation.languages' | translate }}
          </a>
          <ul class="dropdown-menu" aria-labelledby="languageDropdown">
            <li *ngFor="let lang of voiceLanguages">
              <a class="dropdown-item" (click)="selectVoiceLanguage(lang.code)">
                {{ lang.nativeName }}
                <span class="text-muted ms-2">({{ lang.name | translate }})</span>
              </a>
            </li>
          </ul>              
        </li>

        <!-- Main Navigation Links -->
        <li class="nav-item">
          <a class="nav-link" 
             routerLink="actors" 
             (click)="navigateToActors()">
            {{ 'header.navigation.speakers' | translate }}
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" 
             routerLink="voice-ai" 
             (click)="navigateToVoiceAI()">
            {{ 'header.navigation.aiVoice' | translate }}
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" 
             routerLink="humain-voices" 
             (click)="navigateToHumanVoices()">
            {{ 'header.navigation.humanVoice' | translate }}
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" 
             routerLink="studio" 
             (click)="navigateToStudio()">
            {{ 'header.navigation.studio' | translate }}
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" 
             routerLink="contact" 
             (click)="navigateToContact()">
            {{ 'header.navigation.contact' | translate }}
          </a>
        </li>
      </ul>

      <!-- Right side: UI Language Selector + Auth Section -->
      <div class="navbar-nav ms-auto">
        <!-- UI Language Selector -->
        <li class="nav-item dropdown">
          <a 
            class="nav-link dropdown-toggle" 
            href="javascript:void(0)" 
            id="uiLanguageDropdown" 
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
            [attr.aria-label]="'header.uiLanguage.selector' | translate">
            <i class="bi bi-globe me-1"></i>
            {{ getUILanguageDisplayName() }}
          </a>
          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="uiLanguageDropdown">
            <li>
              <a class="dropdown-item" 
                 href="#" 
                 (click)="changeUILanguage('en'); $event.preventDefault()"
                 >
                🇺🇸 {{ 'header.uiLanguage.options.english' | translate }}
              </a>
            </li>
            <li>
              <a class="dropdown-item" 
                 href="#" 
                 (click)="changeUILanguage('fr'); $event.preventDefault()"
                 >
                🇫🇷 {{ 'header.uiLanguage.options.french' | translate }}
              </a>
            </li>
            <li>
              <a class="dropdown-item" 
                 href="#" 
                 (click)="changeUILanguage('es'); $event.preventDefault()"
                 >
                🇪🇸 {{ 'header.uiLanguage.options.spanish' | translate }}
              </a>
            </li>
          </ul>
        </li>

        <!-- Conditional rendering based on authentication state -->
        <!-- Show when user is NOT logged in -->
        <ng-container *ngIf="!isLoggedIn; else userAvatar">
          <li class="nav-item">
            <a routerLink="login" 
               class="nav-link" 
               (click)="navigateToLogin()">
              {{ 'header.auth.login' | translate }}
            </a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle btn-signup"
               href="javascript:void(0)"
               id="signupDropdown"
               role="button"
               data-bs-toggle="dropdown"
               aria-expanded="false">
              {{ 'header.auth.signup' | translate }}
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="signupDropdown">
              <li>
                <a class="dropdown-item" href="#" (click)="navigateToSignup3($event)">
                  Client
                </a>
              </li>
              <li>
                <a class="dropdown-item" href="#" (click)="navigateToSignup2($event)">
                  Speaker
                </a>
              </li>
            </ul>
          </li>
        </ng-container>

        <!-- Show when user IS logged in -->
        <ng-template #userAvatar>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle d-flex align-items-center" 
               href="javascript:void(0)" 
               id="userDropdown" 
               role="button"
               data-bs-toggle="dropdown"
               aria-expanded="false"
               [attr.aria-label]="'header.userMenu.toggle' | translate">
              <img
                [src]="'assets/img/png-clipart-computer-icons-avatar-avatar-web-design-heroes.png'"
                [alt]="'header.userMenu.avatar' | translate"
                class="user-avatar me-2"
              >
              <span class="d-none d-md-inline">{{ getUserDisplayName() }}</span>
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
              <li>
                <a class="dropdown-item" 
                   href="#" 
                   (click)="navigateToProfile(); $event.preventDefault()">
                  <i class="bi bi-person me-2"></i>
                  {{ 'header.userMenu.profile' | translate }}
                </a>
              </li>
              <li>
                <a class="dropdown-item" 
                   href="#" 
                   (click)="navigateToDashboard(); $event.preventDefault()">
                  <i class="bi bi-speedometer2 me-2"></i>
                  {{ 'header.userMenu.dashboard' | translate }}
                </a>
              </li>
              <li>
                <a class="dropdown-item" 
                   href="#" 
                   (click)="navigateToSettings(); $event.preventDefault()">
                  <i class="bi bi-gear me-2"></i>
                  {{ 'header.userMenu.settings' | translate }}
                </a>
              </li>
              <li><hr class="dropdown-divider"></li>
              <li>
                <a class="dropdown-item text-danger" 
                   href="javascript:void(0)" 
                   (click)="logout()">
                  <i class="bi bi-box-arrow-right me-2"></i>
                  {{ 'header.userMenu.logout' | translate }}
                </a>
              </li>
            </ul>
          </li>
        </ng-template>
      </div>
    </div>
  </div>
</nav>